.btn-quiz {
    height: 5rem;
    width: 2rem;
}

h2 {
    text-align: center;
}

.question {
    margin: 2rem
}

#quiz-form {
    margin: 1rem;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }