{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
{% if cat == 'error' %}
<div class="alert alert-danger" role="alert">
  {{msg}}
</div>
{% else %}
<div class="alert alert-success" role="alert">
  {{msg}}
</div>
{% endif %}
{% endfor %}
<form action="/login" method="post" class="form-login">
{{ form.hidden_tag() }}
<p> {{ form.login.label() }} {{ form.login() }}
<p> {{ form.password.label() }} {{ form.password() }}
<p> {{ form.submit() }}
</form>
<a href="{{url_for('register')}}" class="link-primary">Регистрация</a>
{% endblock %}