{% extends 'base.html' %}

{% block title %}quiz{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="container align-content-center justify-content-center" style="width: 100vw; height: 100vh">
  <h2>{{question['question']}}</h2>
  
  {% for row in question['rows'] %}
  <div class="row">
    {% for col in row %}
    <form action="/quiz" enctype="application/json" method="POST">
      <input type="hidden" name="answer" value={{ col }}>
      <input type="submit" class="col btn btn-primary btn-quiz btn-lg" value={{ col }}>
    </form>
    {% endfor %}
  </div>
  {% endfor %}

</div>
{% endblock %}