.btn-quiz {
    height: 5rem;
    width: 2rem;
}

h2 {
    text-align: center;
}

.question {
    margin: 2rem
}

#quiz-form {
    margin: 1rem;
}

.vertical-center {
    min-height: 100%; 
    min-height: 100vh;
  
    display: flex;
    align-items: center;
  }